:root {
  --card-width: 150px;
  --card-height: 170px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

.gallery__wrapper {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .gallery__wrapper {
    height: 1400px;
  }
}
@media (min-width: 1024px) {
  .gallery__wrapper {
    height: 1900px;
  }
}

.gallery__header {
  position: absolute;
  transform: skewY(-15deg);
  top: 14%;
  display: flex;
  justify-content: center;
}
.gallery__header h2 {
  font-family: BadaBoom;
  font-size: 61px;
  font-weight: 400;
  color: #FFF;
}
@media (min-width: 768px) {
  .gallery__header {
    top: 20%;
  }
  .gallery__header h2 {
    font-size: 95px;
  }
}
@media (min-width: 1024px) {
  .gallery__header {
    top: 26%;
  }
}
@media (min-width: 1440px) {
  .gallery__header {
    top: 24%;
  }
}

.gallery__footer {
  position: absolute;
  width: 100%;
  bottom: 20%;
}
@media (min-width: 768px) {
  .gallery__footer {
    bottom: 20%;
  }
}
@media (min-width: 1024px) {
  .gallery__footer {
    bottom: 24%;
  }
}
.gallery__footer .button__wrapper {
  width: 100%;
}
.gallery__footer .button__wrapper div {
  position: absolute;
  right: 8%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  transform: skewY(-15deg);
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: -5%;
}
.cardList__btn.btn--right {
  right: -5%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

@media (min-width: 768px) {
  .card {
    border: 8px solid #FFFFFF;
    border-radius: 24px;
  }
}
.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 3px solid #FFFFFF;
  border-radius: 9px;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card.current--card {
  --card-translateX-offset: 0;
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.3);
  cursor: pointer;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.3);
  cursor: pointer;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  bottom: 20%;
  right: 8%;
  pointer-events: none;
}
@media (min-width: 768px) {
  .infoList {
    bottom: 19%;
    right: 8%;
  }
}
@media (min-width: 1024px) {
  .infoList {
    bottom: 24%;
    right: 8%;
  }
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
.info .text {
  position: relative;
  white-space: nowrap;
  color: #fff;
}
.info .name {
  text-transform: uppercase;
  font-family: GilroyBold;
  text-align: right;
  margin-bottom: 11px;
  font-size: 21px;
  line-height: 22px;
}
@media (min-width: 768px) {
  .info .name {
    font-size: 36px;
    line-height: 42px;
  }
}
.info .location {
  text-transform: uppercase;
}
.info .location {
  font-weight: 800;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-family: GilroyLight;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  text-align: right;
}
@media (min-width: 768px) {
  .info .description {
    font-size: 32px;
    line-height: 38px;
  }
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}

@media only screen and (min-width: 768px) {
  :root {
    --card-width: 352px;
    --card-height: 346px;
  }
}/*# sourceMappingURL=style.css.map */