.react-tabs__tab {
  font-family: BadaBoom;
  font-size: 18px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.react-tabs__tab--selected {
  background: linear-gradient(180deg, rgba(108, 217, 229, 0) 0%, rgba(108, 216, 229, 0.44) 100%);
  color: #FFF;
  border: none;
  outline: none;
}

.react-tabs__tab-list {
  margin: 0 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  position: relative;
  max-width: 1224px;
  padding-left: calc((100vw - 1224px) / 2);
  padding-right: calc((100vw - 1224px) / 2);
}

.carousel--wrapper {
  width: 200px;

  @media (min-width: 768px) {
    width: 250px;
  }

  .react-multi-carousel-list {
    overflow: visible; 
  }

  .react-multi-carousel-track {
  }
}