.rare--section {
  .react-multi-carousel-dot--active button {
    background: #FFF !important;
  }
  
  .react-multi-carousel-dot button {
    border-color: #FFF; 
  
    @media (min-width: 768px) {
      width: 20px !important;
      height: 20px !important;
      border-width: 4px;
    }
  }
  
  .react-multi-carousel-dot-list {
    @media (min-width: 768px) {
      gap: 6px;
    }
  }
  
  
  .react-multi-carousel-dot-list {
    @media (min-width: 768px) {
      justify-content: flex-end;
      padding-right: 68px !important
    }
  }
}
